body {
    background: #fbf9cc url(touroku.jpeg);
}


.flex { /* 要素の横並べ */
    display: flex;
}
.text { /* テキストのサイズ */
    width: 300px;
}
div form .speace input { /* inputタグの設定 */
    border: solid black;
    width: 200px;
    border-radius: 4px;
    line-height: 20px;
}

.speace { 
    margin-bottom: 40px;
}

input[type="submit"] {
    border: solid black;
    margin-left: 500px;
    padding: 10px 20px;
}



body,html {
    height: 100%;
    margin: 0;
    margin-left: 6%;
    padding-top: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sinki{
    position: relative;
    width:20px;
    padding-left: -2%;
}

#contents {
    width: 750px;
    margin: 40px auto;
    padding: 40px 80px;
    border: 1px solid #f6bb9a;
    background-color: #fff;
    position: relative;
    right: 100px;
    top: -100px;
}

#back_button{ /* 戻るボタンの設定 */
    display: block;
    text-align: center;
    /* vertical-align: middle; */
    text-decoration: none;
    width: 200px;
    margin: auto;
    padding: 1rem 3rem;
    font-weight: bold;
    background-image: linear-gradient(to right,#27acd9 0%,#b4e12b 100%);
    border-radius: 100vh;
    color:#fff;
    border: 2px solid #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,.2);
    transition: 0.5s;
    position: relative;
    top:-53px;
    right: 320px;
}
#back_button:hover{
    color:#fff;
    background-image: linear-gradient(to right,#27acd9 0%,#b4e12b 100%);
}

