/* 
    body
*/

.flex { /* 横並び */
    display: flex;
}
.flex p { /* 横幅設定 */
    width: 200px;
}
.flex div input { /* inputタグの設定 */
    border: solid black;
    width: 400px;
    border-radius: 4px;
    line-height: 20px;
}

.speace { /* スペース設定 */
    margin-bottom: 30px;
}

#koudoku_button a { /* 購読ボタン類の設定 */
    border:  solid black ;
    padding: 5px 20px;
    font-size: 18px;
}
#koudoku_button a:nth-child(2), #koudoku_button a:nth-child(3) { /* 購読解除　購読確認ボタンの設定 */
    margin-left: 50px;
}

div table { /* 表のサイズ設定 */
    width: 600px;
    border: solid black;
}
table tr th, tr td { /* 表のマス目表示 */
    border: solid black;
    text-align: center;
}

#back_button a { /*  */
    border: solid black;
    padding: 10px 20px;
    font-size: 18px;
}