
body{
    overflow-x: hidden;
    background: #fbf9cc url(touroku.jpeg);
}


.flex { /* 横並び */
    display: flex;
}
.flex p { /* 幅設定 */
    width: 200px;
}
.flex input { /* inputの設定 */
    border: solid black;

    border-radius: 4px;
    line-height: 20px;
    padding: auto;
}
div .speace { /* スペース設定 */
    margin-bottom: 30px;
}

.container {
    /* background-color: bisque; */
    width: 80%;
    margin: none; margin-top: none;
    min-width: 800px;
    position: relative;
    top:200px;
    left: 40%;
}

/* #back_button, #OK_button {
    border: solid black;
    padding: 10px 20px;
    font-size: 18px;
}
#OK_button {
    margin-left: 450px;
} */

#back_button a { /* 戻るボタンの設定 */
    border: solid black;
    padding: 10px 20px;
    font-size: 18px;
}

#OK_button a { /* OKボタンの設定 */
    border: solid black;
    padding: 10px 20px;
    font-size: 18px;
    margin-left: 50px;
}

#back_button a:nth-child(2), #OK_button input { /* 戻るボタンと更新ボタン */
    margin-left: 50px;
}